body {
  max-width: 720px;
  
  color: #FFFFFF;
  background-image: url("/roach.gif");
  background-color:#000000;
  font-family: monospace, serif;
  display: grid;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  
}

